@import url("main.css");

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

.service-banner h3 {
    font-weight: normal;
}

.service-banner h2 {
    margin: 0;
    font-size: var(--font-size-64);
    font-weight: lighter;
}

.service-info {
    display: flex;
    gap: 48px;
}

.service-info:not(:last-child) {
    margin-bottom: 80px;
}

.reverse {
    flex-direction: row-reverse;
}

.service-image {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    padding: 110px;
    border: var(--border-style);
    border-radius: 8px;
}

.service-image i {
    font-size: 64px;
}

.service-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 16px;
    width: 100%;
    font-size: var(--font-size-18);
}

.service-content h3 {
    font-size: var(--font-size-36);
}
